body {
	background-color: #001f3f;
}

* {
	font-family: "Raleway", helvetica;
}

#main-title {
	color: #7FDBFF;
	text-align: center;
	font-size: 3rem;
}

#mock-timer {
	color: #7FDBFF;
	font-size: 3rem;
}

#start-button {
	padding: 0.5rem;
	border: 2px solid #7FDBFF;
	border-radius: 15px;
	background-color: #001f3f;	
	color: #7FDBFF;
	display: inline;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	font-family: "Raleway", helvetica;
}

#timer-container {
	text-align: center;
}

#start-button:hover {
	border: 2px solid #7FDBFF;
	background-color: #7FDBFF;
	color: #001f3f;
}

@font-face {
	font-family: "Raleway";
	src: url("fonts/Raleway-Regular.ttf");
}